body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 2px solid #666;
  float: left;
  font-size: 200%;
  font-weight: bold;
  line-height: 90px;
  height: 90px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-row {
    display: flex;
    flex-direction: row;
}

/* .game-board {
  border: 2px solid #666;
} */

.game-endgame {
  position: absolute;
  display: flex;
  background-color: rgba(0, 255, 0, 0.2);
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 500%;
}

.game-control {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
}

.reset-button {
  font-size: 150%;
}

.arrow-key:hover {
  color: red;
}

.arrow-key:active {
  color: rgba(255, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .square {
    width: min(90px, 20vw);
    height: min(90px, 20vw);
    line-height: min(90px, 20vw);
  }

  .game-control {
    margin-left: 0px;
  }

  .game-row {
    flex-direction: column;
  }
}


